################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Calculator/bin/Debug/net5.0
/Calculator/obj
/Basics/.vs/Basics/v16
/Basics/obj
/Basics/bin/Debug/net5.0
