################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/obj
/bin
/Basics/.vs/Basics/v16
/Basics/bin/Debug/net5.0
